@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(242, 237, 237);
    border: none;
    height: 70px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(rgb(222, 215, 215));
  }
  .mobile-nav{
    display:none;
    padding-bottom: 5px;
    background-color: antiquewhite;
  }
  .top{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    padding-top: 10px;
  }
  .bottom{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
    width: 80%;
    margin: 0 auto;
  }
  .btn3{
    margin-left: 40px;
    padding: 10px 20px;
    font-size: large;
    border: none;
    border: 2px solid rgb(74, 74, 230);
    border-radius: 5px;
    background-color: white;
    color: rgb(71, 71, 236);
  }
  .btn3:hover{
    background-color: rgb(71, 71, 225);
    color: white;
    transition: all 0.5s;
  }
  .img-section{
    display: flex;
    gap: 20px;
    height: 500px;
    margin: 40px auto;
  }
  .img-section iframe{
    border: none;
    border-radius: 20px;
  }
  .image{
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .image:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
  .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
  }
  .inner-1 p{
    padding-top: 10px;
    font-size: 20px;
  }
   h4{
    font-size: 25px;
  }
  .all-amenities{
    display: flex;
    flex-wrap: wrap;
    /* gap: 120px; */
    align-items: center;
    justify-content: space-between;
  }
  .all-amenities div p{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
    font-weight: 500;
  }
  .all-amenities div p img{
    width: 40%;
    height: 40%;

  }
 h5{
  font-size: 25px;
  padding-top: 20px;
 }
 .plans{
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 25px 0;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 6px #0000000d;
  background-image: linear-gradient(to right top, #f0f5f5, #edf3f1, #ebf1ed, #ebefe8, #ecece4);

 }
 .plans{
  margin-bottom: 20px;
 }
 .imga{
  flex: 0 0 12%;
    padding: 0 15px;
 }
 .imga img{
  max-width: 90%;
 }
 .sharing{
  width: 58%;
  padding: 10px 15px;
 }
 .price{
  text-align: right;
  flex: 0 0 30%;
  padding: 0 15px;
 }
 .sharing h5{
  padding: 0;
 }
 .price h5{
  font-size: 20px;
 }
 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px;
  border: none;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.modal-content > div{
  margin-bottom: 15px ;
  font-size: 25px;
  font-weight: 500;
}

/* Styles for the form */
.modal-form input[type=text], 
.modal-form input[type=email], 
.modal-form input[type=tel], 
.modal-form select {
  width: calc(100% - 5px);
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.modal-form select {
  margin-right: 5px;
}

.modal-form .checkbox {
  display: flex;
  gap: 10px;
  margin: 15px 0px;
}

.modal-form .checkbox label {
  font-size: 14px;
  display: block;
}

.modal-form .btn-send {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.modal-form .btn-send:hover {
  background-color: #45a049;
}.upper-footer{
  width: 100%;
  background-color: rgb(248, 248, 249);
}
.footer-content{
  padding: 50px 70px;
}
.rows{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px;
}
.info p1 a{
  text-decoration: none;
}

.content-row{
  width: 33.33%;
}
.pg-row{
  display: flex;
  width: 33.33%;
  justify-content: center;
}
.contact-row{
  width: 33.33%;
}

.pg-row .pg,hr{
  margin-bottom: 10px;
}
.ull li{
  padding: 10px 0;
  list-style: none;
  cursor: pointer;
}
.ull li a{
  text-decoration: none;
}
.text{
  margin-bottom: 14px;
    font-size: 15px;
    color: #7e7e7e;
    line-height: 28px;
    text-align: justify;
}
.two{
  width: 40%;
}
.pg-row hr{
  width: 30%;
  height: 3px;
  background-color: blue;
}

.three a{
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.i-1{
  background-color: rgb(100, 100, 232);
}
.i-2{
  background-color: skyblue;
}
.i-3{
  background-color: rgb(143, 45, 45);
}
.three a i{
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  
}
#results {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

#results h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

#results ul {
  list-style-type: none;
  padding: 0;
}

#results ul li {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

#results ul li:last-child {
  border-bottom: none;
}

#results ul li:hover {
  background-color: #f0f0f0;
}

#results p {
  font-size: 18px;
  color: #666;
}

@media screen and (max-width: 576px){
  .navbar{
    display: none;
  }
  .plans{
    flex-direction: column;
  }
  .imga{
    flex: none;
    width: 60%;
  }
  .sharing{
    width: 100%;
    text-align: center;
  }
  .amenities{
    width: 100%;
  }
  .all-amenities{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .all-amenities div{
    display: flex;
    margin-top: 20px ;
  }
  .all-amenities div p{
    flex-direction: column;
    width: 129px;
    height: 110px;
  }
  .content{
    width: 90%;
  }
  .inner-1{
   margin-bottom: 15px !important;
  }
  .img-section{
    flex-direction: column;
    gap: 20px;
  }
  .image{
    width: 100%;
  }
  .map{
    width: 100%;
  }
  .mobile-nav{
    display: block;
   }
   .navbar{
    display: none;
   }
   .top p1{
    font-size: 25px !important;
    padding-left: 20px;
   }
   .top .info p1{
    font-size: 15px !important;
    padding: 0 2px !important;
    font: 500;
  }
  .info{
    padding-right: 15px;
  }
  .top .info p1 a{
    text-decoration: none;
    color: black;
  }
  .btn3{
    padding: 10px 15px !important;
    font-size: large;
    border: none;
    border: 2px solid rgb(74, 74, 230);
    border-radius: 10px;
    background-color: white;
    color: rgb(71, 71, 236);
  }
  .rows{
    flex-direction: column;
  }
  .contact-row,.pg-row,.content-row{
    width: 100%;
  }
  .pg-row{
    justify-content: flex-start;
    margin-bottom: 20px !important;
  }
  .two{
    width: 100%;
    margin-top: 10px;
  }
}