@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
#navbar1::before {
  content: "";
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlOF9waG90b2dyYXBoeV9vZl9zY2FuZGluYXZpYW5fc3R5bGVfY296eV9tb2Rlcm5fYl9kYmM1NDA2Yy0zZTA0LTQzNzMtYWVhYi1iNjhkOTVkZjc5MTJfMS5qcGc.jpg");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  background-size: 100%;
  z-index: -1;
  opacity: 0.8;
}
#navbar1{
    padding: 20px 0;
    height: 500px;
    position: relative;
}
.navbar-new p1{
  font-size: 20px;
}
.navbar-new{
  display: flex;
  justify-content: space-around;
 
}
.search-box{
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-search{
  width: 40%;
  padding: relative;
}
.inner-search input{
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
}
.search-icon{
   display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30.5%;
    top: 8px;
}
.search-icon img{
  height: 60%;
  width: 60%;
  color: white;
}
::-webkit-input-placeholder{
  color: black;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 73px;
    border-radius: 19px;
    animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.dropdown-menu a{
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: #333;
}
.dropdown-menu a:hover{
  cursor: pointer;
  background-color: rgb(199, 241, 227);
}
.navbar {
  display: none;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 254, 254);
  border: none;
  height: 70px;
  width: 100%; */
}

.info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-weight: 500;
}
.info a{
  text-decoration: none;
  color : black;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 1px 5px 5px 5px rgb(221, 219, 219);
}
.call-btn:hover{
  background-color: rgb(76, 76, 221) !important;
  color: white !important;
  transition: all 0.3s !important;
}

.more-info {
  position: absolute;
  bottom: -50px;
  width: 70%;
  margin: 0 auto;
  left: 15%;
  background-color: beige;
  border: none;
  border-radius: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.more-info ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 20px;
  list-style: none;
}

.more-info ul li {
  padding: 0px 25px;
  font-size: 17px;
  font-weight: 600;
}

.amenities {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}

.search-bar input {
  width: 500px;
  height: 40px;
  padding: 0px 10px;
  color: black;
  border-radius: 10px;
}

.search-bar button {
  height: 40px;
  padding: 0px 30px;
  background-color: rgb(63, 63, 232);
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
}

.left-side {
  width: 50%;
  padding: 20px;
}

.tag-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 35px;
  font-weight: 600;
}
.img-container div:hover{
  transform: scale(1.2);
  transition: all 0.5s;
}

.perks {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.wifi,
.food,
.laundry,
.car {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

.prefrences {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cards,.cards-1 {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards div:hover{
  transform: scale(1.1) !important;
  transition: all 0.5s ease-in-out !important;
}

.card-1 {
  position: relative;
  width: 300px;
  height: 250px;
  border: none;
  border-radius: 15px;
}

.price {
  position: absolute;
  top: 78%;
  left: 10px;
  background-color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.mumbai {
  width: 300px;
  height: 280px;
  border-radius: 15px;
  border: none;
  background-color: rgb(222, 218, 218);
}

.renting {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.property-img {
  width: 450px;
  height: 350px;
}
.property-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.property-info p {
  padding: 10px 0px;
}
.property-info button {
  margin-top: 15px;
  padding: 20px;
  background-color: rgb(61, 61, 216);
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
footer {
  background-color: rgb(55, 52, 52);
  height: 50px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}
/* .call {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.call-btn {
  padding: 10px 15px;
  border: 1px solid rgb(45, 45, 214);
  border-radius: 15px;
  font-size: 25px;
  background-color: white;
  color: rgb(65, 65, 219);
  font-weight: 600;
}
.query-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.query-container {
  max-width: 80%;
  background-color: white;
  margin: 0px auto;
  display: flex;
  border-radius: 20px;
}
.query-fields {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
  align-items: center;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
.input {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: space-evenly;
  width: 80%;
}
.input div {
  padding: 10px 5px;
  width: 33.33%;
}
.input div input,
.input div select {
  width: 100%;
  height: 40px;
  padding: 0px 5px;
  font-size: 15px;
  font-weight: 600px;
  border: none;
  background-color: rgb(234, 228, 228);
  border-radius: 5px;
}
.sub-btn {
  width: 100%;
  height: 40px;
  padding: 0px 5px;
  font-size: 20px;
  font-weight: 500px;
  border: none;
  border-radius: 5px;
  background-color: rgb(246, 246, 114);
}
.img-field {
  width: 50%;
  margin-right: 50px;
}
.img-field img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.advantage-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 40px;
}
.advantage-heading .p-1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.advantage-heading .p-2 {
  font-size: 25px;
  font-weight: 500px;
  padding: 20px 0;
  text-align: center;
}
.advantages {
  display: flex;
  gap: 0px;
}
.brokerage,
.exiting,
.amazing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  width: 450px;
  text-align: center;
  padding: 10px 0;
}
.brokerage-img,
.exiting-img,
.amazing-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.brokerage-img img,
.exiting-img img,
.amazing-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner-p-1 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
.inner-p-2 {
  padding-top: 5px;
  font-weight: 500;
}
.inner-p-1 > hr {
  width: 60px;
  height: 2px;
  background-color: rgb(51, 51, 218);
}
/* Media Queries for Responsive Design */

@media screen and (max-width: 1200px) {
  /* .navbar {
        flex-direction: 
        height: auto;
       
    } */

  .more-info {
    width: 90%;
    left: 5%;
  }

  .more-info ul {
    padding: 25px 20px;
  }
  .search {
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 20px !important;
  }
  .search-bar {
    display: flex;
    width: 500px;
  }
  .cards,.cards-1 {
    gap: 70px;
    justify-content: space-evenly;
  }
  .search-bar input {
    width: 80%;
  }
  .img-container {
    gap: 30px !important;
  }
  .img-1,
  .img-2,
  .img-3,
  .img-4 {
    width: 200px !important;
  }
  .brokerage,
  .exiting,
  .amazing {
    width: 300px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
  .more-info ul li {
    padding: 0px 15px;
  }
  .perks_div {
    gap: 15px !important;
  }
  .img-1,
  .img-2,
  .img-3,
  .img-4 {
    width: 190px !important;
    height: 180px !important;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .navbar-new{
    display: none;
  }
  .amenities {
    flex-direction: column;
  }
  .left-side {
    width: 100%;
    box-shadow: 0px 5px 5px rgb(239, 235, 235);
  }
  .right-side {
    width: 100% !important;
  }

  .prefrences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .cards {
    justify-content: center;
  }

  .card-1 {
    width: 90%;
    margin-bottom: 20px;
  }
  .brokerage,
  .exiting,
  .amazing {
    width: 200px;
  }
  .inner-p-2 {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #navbar1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 280px !important;
    padding-bottom: 20px;
    height: auto;
  }
  /* .navbar-new{
    display: flex;
    align-items: none;
  } */
  .navbar{
    display: none;
  }
  .inner-search{
    width: 80%;
  }
  .search-icon{
    right: 12.5%;
  }
  .navbar .btn {
    margin-bottom: 10px;
  }
  .dropdown-menu{
    width: 80%;
  }

  .more-info ul {
    display: none;
  }

  .search-bar input {
    width: 70%;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    /* width: 720px; */
    /* flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;
    justify-content: center; */
  }
  .amenities {
    flex-direction: column;
  }
  .right-side {
    display: flex;
    flex-direction: column;
  }
  .perks > div,
  .laundry > div,
  .wifi > div,
  .food > div {
    gap: 5pxpx !important;
  }
  .search {
    flex-direction: column;
    justify-content: center !important;
    gap: 10px !important;
  }
  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .search-bar input {
    width: 300px;
  }
  .search-bar button {
    width: 100px;
  }
  .dropdown {
    margin-top: 10px;
  }
  .img-1,
  .img-2,
  .img-3,
  .img-4 {
    width: 170px !important;
    height: 140px !important;
  }
  .img-1,
  .img-2,
  .img-3,
  .img-4 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /* .right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
  .right-side {
    width: 100% !important;
  }
  .img-container {
    gap: 25px !important;
    margin: 0 25px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 100% !important;
  }
  .renting {
    flex-direction: column;
    height: auto;
  }
  .property-img {
    margin-top: 20px;
    width: 400px;
    height: 250px;
  }
  .property-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  /* .line{
        height: 10px;
        color: black;
    } */
  .query-container {
    max-width: 90%;
  }
  .img-field {
    display: none;
  }
  .input {
    width: 100%;
  }
  .input div input,
  .input div select {
    font-size: 12px;
    height: 30px;
  }
  .sub-btn {
    height: 30px;
    font-size: 15px;
  }
  .brokerage,
  .exiting,
  .amazing {
    width: 130px;
  }
  .inner-p-2 {
    display: none;
  }
  /* .city{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }  */

}
