.top-living-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 150px;
}
.top-living-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px;
    gap: 45px;
}
.Gurugram,.Bangalore
,.Noida,.Delhi,.Pune,.Ahmedabad,
.Mumbai1,.Hyderabad{
    width: 20%;
    border: none;
    border-radius: 20px;
    position: relative;
    transition: all 1s;
    
}
.Gurugram:hover::before,.Pune:hover::before,.Bangalore:hover::before,.Ahmedabad:hover::before,.Delhi:hover::before,.Hyderabad:hover::before,.Noida:hover::before,.Mumbai1:hover::before{
    position: absolute;
    content: "";
    background: radial-gradient(44.97% 44.97% at 50% 55.03%, rgba(57, 68, 79, 0) 0%, rgba(57, 68, 79, .4) 0);
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all .5s;
}
.Gurugram-img img{
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 20px;
}
.card-text:hover{
    top: 20px;
    transition: all 0.5s;
}
.card-text{
    position: absolute;
    bottom: 15px;
    color: white;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.top-heading p{
    font-size: 35px;
    font-weight: 500;
}
.top-heading hr{
    width: 10%;
    margin: 0 auto;
    height: 3px;
    background-color: rgb(68, 68, 235);

}
.social-media{
    position: absolute;
    top: 25%;
    left: 78.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* .insta , .face , .twitter :hover{
    background-color: rgb(221, 212, 212) ;
    transition: all 0.5s;
} */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.3s ease-in-out;
  }
  @keyframes fadeIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 30px;
    border: none;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .modal-content > div{
    margin-bottom: 15px ;
    font-size: 25px;
    font-weight: 500;
  }

  /* Styles for the form */
  .modal-form input[type=text], 
  .modal-form input[type=email], 
  .modal-form input[type=tel], 
  .modal-form select {
    width: calc(100% - 5px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .modal-form select {
    margin-right: 5px;
  }

  .modal-form .checkbox {
    display: flex;
    gap: 10px;
    margin: 15px 0px;
  }

  .modal-form .checkbox label {
    font-size: 14px;
    display: block;
  }

  .modal-form .btn-send {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .modal-form .btn-send:hover {
    background-color: #45a049;
  }
  .toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 999;
}
.mobile-nav{
  display:none;
  padding-bottom: 5px;
  background-color: antiquewhite;
}
.top{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between ;
  padding-top: 10px;
}
.bottom{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more{
  font-weight: 500;
  background-color: rgb(79, 79, 175);
  color: white;
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.see-more:hover{
  background-color: rgb(48, 48, 221);
}
.see-more a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.upper-footer{
  width: 100%;
  background-color: rgb(248, 248, 249);
}
.footer-content{
  padding: 50px 70px;
}
.rows{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px;
}
.content-row{
  width: 33.33%;
}
.pg-row{
  display: flex;
  width: 33.33%;
  justify-content: center;
}
.contact-row{
  width: 33.33%;
}

.pg-row .pg,hr{
  margin-bottom: 10px;
}
.ull li{
  padding: 10px 0;
  list-style: none;
  cursor: pointer;
}
.ull li a{
  text-decoration: none;
}
.text{
  margin-bottom: 14px;
    font-size: 15px;
    color: #7e7e7e;
    line-height: 28px;
    text-align: justify;
}
.two{
  width: 40%;
}
.pg-row hr{
  width: 30%;
  height: 3px;
  background-color: blue;
}

.three a{
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.i-1{
  background-color: rgb(100, 100, 232);
}
.i-2{
  background-color: skyblue;
}
.i-3{
  background-color: rgb(143, 45, 45);
}
.three a i{
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  
}
@media screen and (max-width: 576px){
  .Gurugram,.Bangalore
  ,.Noida,.Delhi,.Pune,.Ahmedabad,
  .Mumbai1,.Hyderabad{
        width: 40%;
    }
    .card-text p{
        display: none;
    }
    .social-media{
      display: none;
    }
    .tag-line p1{
      text-align: center;
    }
    .mobile-nav{
      display: block;
     }
     .navbar{
      display: none;
     }
     .top p1{
      font-size: 25px !important;
      padding-left: 20px;
     }
     .top .info p1{
      font-size: 15px !important;
      padding: 0 2px !important;
      font: 500;
    }
    .info{
      padding-right: 15px;
    }
    
    .top .info p1 a{
      text-decoration: none;
      color: black;
    }
    .btn3{
      padding: 10px 15px !important;
      font-size: large;
      border: none;
      border: 2px solid rgb(74, 74, 230);
      border-radius: 10px;
      background-color: white;
      color: rgb(71, 71, 236);
    }
    .rows{
      flex-direction: column;
    }
    .contact-row,.pg-row,.content-row{
      width: 100%;
    }
    .pg-row{
      justify-content: flex-start;
      margin-bottom: 20px !important;
    }
    .two{
      width: 100%;
      margin-top: 10px;
    }
}