@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(242, 237, 237);
    border: none;
    height: 70px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(rgb(222, 215, 215));
  }
  .mobile-nav{
    display:none;
    padding-bottom: 5px;
    background-color: antiquewhite;
  }
  .top{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    padding-top: 10px;
  }
  .bottom{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info p1 a{
    text-decoration: none;
  }
  
  .btn3{
    margin-left: 40px;
    padding: 10px 20px;
    font-size: large;
    border: none;
    border: 2px solid rgb(74, 74, 230);
    border-radius: 5px;
    background-color: white;
    color: rgb(71, 71, 236);
  }
  .btn3:hover{
    background-color: rgb(71, 71, 225);
    color: white;
    transition: all 0.5s;
  }
  .delhi,.bangalore,.noida,.gurugram,.hyderabad{
    width: 100%;
    margin: 40px 0px;
  }
  .delhi-container,.noida-container
   ,.gurugram-container,.hyderabad-container,
   .bangalore-container{
    width: 95%;
    margin: 20px auto;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }
  .card{
    width: calc(25% - 20px); /* Adjust the width of the cards */
    /* Explanation: 25% width for each card in a row, subtracting margin */
    height: 300px;
    margin-top: 20px;
    margin-right: 20px; /* Add spacing between cards */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .img-container{
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .info{
    height: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding:  10px ;
    border: 1px solid rgb(218, 215, 215);
  }
  .left-row{
    width: 70%;
  }
  .right-row{
    display: flex;
    width: 30%;
    align-items: center;
  }
  .upper-footer{
    width: 100%;
    background-color: rgb(248, 248, 249);
  }
  .footer-content{
    padding: 50px 70px;
  }
  .rows{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px;
  }
  .content-row{
    width: 33.33%;
  }
  .pg-row{
    display: flex;
    width: 33.33%;
    justify-content: center;
  }
  .contact-row{
    width: 33.33%;
  }
  
  .pg-row .pg,hr{
    margin-bottom: 10px;
  }
  .ull li{
    padding: 10px 0;
    list-style: none;
    cursor: pointer;
  }
  .ull li a{
    text-decoration: none;
  }
  .text{
    margin-bottom: 14px;
      font-size: 15px;
      color: #7e7e7e;
      line-height: 28px;
      text-align: justify;
  }
  .two{
    width: 40%;
  }
  .pg-row hr{
    width: 30%;
    height: 3px;
    background-color: blue;
  }
  
  .three a{
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .i-1{
    background-color: rgb(100, 100, 232);
  }
  .i-2{
    background-color: skyblue;
  }
  .i-3{
    background-color: rgb(143, 45, 45);
  }
  .three a i{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 30px;
    border: none;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .modal-content > div {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
  }
  
  /* Styles for the form */
  .modal-form input[type="text"],
  .modal-form input[type="email"],
  .modal-form input[type="tel"],
  .modal-form select {
    width: calc(100% - 5px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .modal-form select {
    margin-right: 5px;
  }
  
  .modal-form .checkbox {
    display: flex;
    gap: 10px;
    margin: 15px 0px;
  }
  
  .modal-form .checkbox label {
    font-size: 14px;
    display: block;
  }
  
  .modal-form .btn-send {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .modal-form .btn-send:hover {
    background-color: #45a049;
  } 
  @media screen and (max-width: 576px){
    .delhi, .bangalore, .gurugram, .hyderabad, .noida {
      overflow-x: scroll;
      overflow-y: hidden; /* Hide vertical scrollbar */
      white-space: nowrap; /* Prevent cards from wrapping */
  }
  .cards {
      display: inline-block; /* Prevent line breaks */
      white-space: nowrap; 
      width: 1100px;
      margin-left: 10px;
  }
  h3{
    padding-left: 10px;
  }
  .card {
      width: 30%; /* Adjust the width of the cards */
      display: inline-block; /* Prevent line breaks */
      margin-right: 10px; 
      
      margin-bottom: 20px; /* Add bottom margin to separate rows */
  }
  .delhi-container, .noida-container, .gurugram-container, .hyderabad-container, .bangalore-container {
      width: 100%; /* Adjust the width of the card containers */
      margin: 20px auto; /* Center the card containers */
      overflow-x: auto; /* Allow horizontal scrolling */
      white-space: nowrap; /* Prevent container wrapping */
  }
  .mobile-nav{
    display: block;
   }
   .navbar{
    display: none;
   }
   .top p1{
    font-size: 25px !important;
    padding-left: 20px;
   }
   .top .info-1 p1{
    font-size: 15px !important;
    padding: 0 2px !important;
    font: 500;
  }
  .info-1{
    padding-right: 15px;
  }
  .top .info-1 p1 a{
    text-decoration: none;
    color: black;
  }
  .btn3{
    padding: 10px 15px !important;
    font-size: large;
    border: none;
    border: 2px solid rgb(74, 74, 230);
    border-radius: 10px;
    background-color: white;
    color: rgb(71, 71, 236);
  }
  footer {
    background-color: rgb(55, 52, 52);
    height: 50px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .rows{
    flex-direction: column;
  }
  .contact-row,.pg-row,.content-row{
    width: 100%;
  }
  .pg-row{
    justify-content: flex-start;
    margin-bottom: 20px !important;
  }
  .two{
    width: 100%;
    margin-top: 10px;
  }
}